@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from themezhub.net/learnup-demo-2/learnup/home-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 18 Nov 2021 13:00:04 GMT -->
<head>
    <meta charset="utf-8" />
    <meta name="author" content="www.frebsite.nl" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>LearnUp - Online Course </title>

    <!-- Custom CSS -->
    <link href="/assets/css/styles.css" rel="stylesheet">

    <!-- Custom Color Option -->
    <link href="/assets/css/colors.css" rel="stylesheet">

</head>

<body class="red-skin">

    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div id="preloader"><div class="preloader"><span></span><span></span></div></div>


    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Top header  -->
        <!-- ============================================================== -->
        <!-- Start Navigation -->
        <div class="header header-light">
            <div class="container">
                <nav id="navigation" class="navigation navigation-landscape">
                   
                    <div class="nav-header">
                        <a class="nav-brand" href="@Url.Action("Index", "Home")" >
                            <h4 class="mt-0 logs_title">Training  <span class="theme-cl">Center</span></h4>                                    
                        </a>
                        <div class="nav-toggle"></div>
                    </div>
                    <div class="nav-menus-wrapper" style="transition-property: none;">
                        <ul class="nav-menu">

                            <li class="active">

                            </li>

                            <li>
                                @Html.ActionLink("Students", "Index", "Students")

                            </li>

                            <li>
                                @Html.ActionLink("Instructors", "Index", "instractors")

                            </li>

                            <li>
                                @Html.ActionLink("Courses", "Index", "Courses")

                            </li>


                        </ul>
                        <ul class="nav-menu nav-menu-social align-to-right">

                            @Html.Partial("_LoginPartial")
                        </ul>
                      

                    </div>
                </nav>
            </div>
        </div>
        <!-- End Navigation -->
        <div class="clearfix"></div>
        <!-- ============================================================== -->
        <!-- Top header  -->
        <!-- ============================================================== -->
        <!-- ============================ Hero Banner  Start================================== -->
        <div class="image-cover half_banner" style="background:#0b2248 url(/assets/img/banner-3.jpg) no-repeat;">
            <div class="container">
                <!-- Type -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="banner-search-2">
                            <h1 class="cl_2 f_2 mb-0">Start Learning daily<br><span class="theme-cl">new thing</span></h1>
                            <p>Study any topic, anytime. Choose from thousands of expert-led courses now.</p>
                            <div class="input-group mt-3">
                                <input type="text" class="form-control" placeholder="What do you want to learn?">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button"><img src="/assets/img/search.svg" class="search-icon" alt="" /></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================ Hero Banner End ================================== -->
        <!-- ============================ Trips Facts Start ================================== -->
        <div class="trips_wrap full colored">
            <div class="container">
                <div class="row m-0">

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="trips">
                            <div class="trips_icons">
                                <i class="ti-video-camera"></i>
                            </div>
                            <div class="trips_detail">
                                <h4>100,000 online courses</h4>
                                <p>Nor again is there anyone who loves or pursues or desires</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="trips">
                            <div class="trips_icons">
                                <i class="ti-medall"></i>
                            </div>
                            <div class="trips_detail">
                                <h4>Expert instruction</h4>
                                <p>Nam libero tempore, cum soluta and nobis est eligendi optio</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="trips none">
                            <div class="trips_icons">
                                <i class="ti-infinite"></i>
                            </div>
                            <div class="trips_detail">
                                <h4>Lifetime access</h4>
                                <p>These cases are perfectly simple and easy to distinguish</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- ============================ Trips Facts Start ================================== -->
        <!-- ========================== Featured Courses Section =============================== -->
        <section>
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <div class="sec-heading center">
                            <p>New &amp; Trending</p>
                            <h2><span class="theme-cl">Featured</span> Courses by professional Instructor</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 p-0">

                        <div class="arrow_slide three_slide-dots arrow_middle">

                            <!-- Single Slide -->
                            <div class="singles_items">
                                <div class="education_block_grid style_2">

                                    <div class="education_block_thumb n-shadow">
                                        <a href="@Url.Action("Index", "Courses")">
                                        <img  src="/assets/img/co-1.jpg" class="img-fluid" alt="">
                                        </a>
                                    </div>

                                    <div class="education_block_body">
                                        <h4 class="bl-title"><a href="@Url.Action("Index", "Courses")">Tableau For Beginners: Get 
                                                                   CA Certified, Grow Your Career</a></h4>
                                    </div>

                                    <div class="cources_facts">
                                        <ul class="cources_facts_list">
                                            <li class="facts-1">Expert</li>
                                            <li class="facts-2">Professional</li>
                                            <li class="facts-5">Design</li>
                                        </ul>
                                    </div>

                                    <div class="cources_info">
                                        <div class="cources_info_first">
                                            <ul>
                                                <li><strong>1,84684 Views</strong></li>
                                                <li class="theme-cl">3h 30min</li>
                                            </ul>
                                        </div>
                                        <div class="cources_info_last">
                                            <h3>$69.77</h3>
                                        </div>
                                    </div>

                                    <div class="education_block_footer">
                                        <div class="education_block_author">
                                            <div class="path-img"><a href="@Url.Action("Index", "Instractors")"><img src="/assets/img/user-1.jpg" class="img-fluid" alt=""></a></div>
                                            <h5><a href="instructor-detail.html">Shaurya Preet</a></h5>
                                        </div>
                                        <span class="education_block_time"><i class="ti-calendar mr-1"></i>1 hour ago</span>
                                    </div>

                                </div>
                            </div>

                            <!-- Single Slide -->
                            <div class="singles_items">
                                <div class="education_block_grid style_2">

                                    <div class="education_block_thumb n-shadow">
                                        <a href="@Url.Action("Index", "Courses")"><img src="/assets/img/co-2.jpg" class="img-fluid" alt=""></a>
                                    </div>

                                    <div class="education_block_body">
                                        <h4 class="bl-title"><a href="@Url.Action("Index", "Courses")">The Complete Business Plan Course (Includes 50 Templates)</a></h4>
                                    </div>

                                    <div class="cources_facts">
                                        <ul class="cources_facts_list">
                                            <li class="facts-1">Expert</li>
                                            <li class="facts-2">Professional</li>
                                            <li class="facts-5">Design</li>
                                        </ul>
                                    </div>

                                    <div class="cources_info">
                                        <div class="cources_info_first">
                                            <ul>
                                                <li><strong>2,25684 Views</strong></li>
                                                <li class="theme-cl">4h 30min</li>
                                            </ul>
                                        </div>
                                        <div class="cources_info_last">
                                            <h3>$57.00</h3>
                                        </div>
                                    </div>

                                    <div class="education_block_footer">
                                        <div class="education_block_author">
                                            <div class="path-img"><a href="instructor-detail.html"><img src="/assets/img/user-2.jpg" class="img-fluid" alt=""></a></div>
                                            <h5><a href="@Url.Action("Index", "Instractors")">Savitha Tripathi</a></h5>
                                        </div>
                                        <span class="education_block_time"><i class="ti-calendar mr-1"></i>20 min ago</span>
                                    </div>

                                </div>
                            </div>

                            <!-- Single Slide -->
                            <div class="singles_items">
                                <div class="education_block_grid style_2">

                                    <div class="education_block_thumb n-shadow">
                                        <a href="course-detail.html"><img src="/assets/img/co-3.jpg" class="img-fluid" alt=""></a>
                                    </div>

                                    <div class="education_block_body">
                                        <h4 class="bl-title"><a href="@Url.Action("Index", "Courses")">An Entire MBA In 1 Course:Award Winning Business School Prof</a></h4>
                                    </div>

                                    <div class="cources_facts">
                                        <ul class="cources_facts_list">
                                            <li class="facts-1">Expert</li>
                                            <li class="facts-2">Professional</li>
                                            <li class="facts-5">Design</li>
                                        </ul>
                                    </div>

                                    <div class="cources_info">
                                        <div class="cources_info_first">
                                            <ul>
                                                <li><strong>5,69684 Views</strong></li>
                                                <li class="theme-cl">5h 32min</li>
                                            </ul>
                                        </div>
                                        <div class="cources_info_last">
                                            <h3>$98.40</h3>
                                        </div>
                                    </div>

                                    <div class="education_block_footer">
                                        <div class="education_block_author">
                                            <div class="path-img"><a href="@Url.Action("Index", "Instractors")"><img src="/assets/img/user-3.jpg" class="img-fluid" alt=""></a></div>
                                            <h5><a href="@Url.Action("Index", "Instractors")">Shaurya Preet</a></h5>
                                        </div>
                                        <span class="education_block_time"><i class="ti-calendar mr-1"></i>1 days ago</span>
                                    </div>

                                </div>
                            </div>

                            <!-- Single Slide -->
                            <div class="singles_items">
                                <div class="education_block_grid style_2">

                                    <div class="education_block_thumb n-shadow">
                                        <a href="@Url.Action("Index", "Courses")"><img src="/assets/img/co-4.jpg" class="img-fluid" alt=""></a>
                                    </div>

                                    <div class="education_block_body">
                                        <h4 class="bl-title"><a href="@Url.Action("Index", "Courses")">The Complete Financial Analyst Course 2020</a></h4>
                                    </div>

                                    <div class="cources_facts">
                                        <ul class="cources_facts_list">
                                            <li class="facts-1">Expert</li>
                                            <li class="facts-2">Professional</li>
                                            <li class="facts-5">Design</li>
                                        </ul>
                                    </div>

                                    <div class="cources_info">
                                        <div class="cources_info_first">
                                            <ul>
                                                <li><strong>7,42854 Views</strong></li>
                                                <li class="theme-cl">6h 30min</li>
                                            </ul>
                                        </div>
                                        <div class="cources_info_last">
                                            <h3>$79.99</h3>
                                        </div>
                                    </div>

                                    <div class="education_block_footer">
                                        <div class="education_block_author">
                                            <div class="path-img"><a href="instructor-detail.html"><img src="/assets/img/user-4.jpg" class="img-fluid" alt=""></a></div>
                                            <h5><a href="instructor-detail.html">Litha Maildick</a></h5>
                                        </div>
                                        <span class="education_block_time"><i class="ti-calendar mr-1"></i>1 days ago</span>
                                    </div>

                                </div>
                            </div>

                            <!-- Single Slide -->
                            <div class="singles_items">
                                <div class="education_block_grid style_2">

                                    <div class="education_block_thumb n-shadow">
                                        <a href="@Url.Action("Index", "Courses")"><img src="/assets/img/co-5.jpg" class="img-fluid" alt=""></a>
                                    </div>

                                    <div class="education_block_body">
                                        <h4 class="bl-title"><a href="@Url.Action("Index", "Courses")">PMP Exam Prep Seminar - PMBOK Guide 6</a></h4>
                                    </div>

                                    <div class="cources_facts">
                                        <ul class="cources_facts_list">
                                            <li class="facts-1">Expert</li>
                                            <li class="facts-2">Professional</li>
                                            <li class="facts-5">Design</li>
                                        </ul>
                                    </div>

                                    <div class="cources_info">
                                        <div class="cources_info_first">
                                            <ul>
                                                <li><strong>5,32984 Views</strong></li>
                                                <li class="theme-cl">5h 50min</li>
                                            </ul>
                                        </div>
                                        <div class="cources_info_last">
                                            <h3>$149.7</h3>
                                        </div>
                                    </div>

                                    <div class="education_block_footer">
                                        <div class="education_block_author">
                                            <div class="path-img"><a href="@Url.Action("Index", "Instractors")"><img src="/assets/img/user-5.jpg" class="img-fluid" alt=""></a></div>
                                            <h5><a href="@Url.Action("Index", "Instractors")">Chrish Gyle</a></h5>
                                        </div>
                                        <span class="education_block_time"><i class="ti-calendar mr-1"></i>2 days ago</span>
                                    </div>

                                </div>
                            </div>

                            <!-- Single Slide -->
                            <div class="singles_items">
                                <div class="education_block_grid style_2">

                                    <div class="education_block_thumb n-shadow">
                                        <a href="@Url.Action("Index", "Courses")"><img src="/assets/img/co-6.jpg" class="img-fluid" alt=""></a>
                                    </div>

                                    <div class="education_block_body">
                                        <h4 class="bl-title"><a href="@Url.Action("Index", "Courses")">Tableau 2020 A-Z:Hands-On Tableau Training For Data Science!</a></h4>
                                    </div>

                                    <div class="cources_facts">
                                        <ul class="cources_facts_list">
                                            <li class="facts-1">Expert</li>
                                            <li class="facts-2">Professional</li>
                                            <li class="facts-5">Design</li>
                                        </ul>
                                    </div>

                                    <div class="cources_info">
                                        <div class="cources_info_first">
                                            <ul>
                                                <li><strong>6,56684 Views</strong></li>
                                                <li class="theme-cl">6h 40min</li>
                                            </ul>
                                        </div>
                                        <div class="cources_info_last">
                                            <h3>$99.7</h3>
                                        </div>
                                    </div>

                                    <div class="education_block_footer">
                                        <div class="education_block_author">
                                            <div class="path-img"><a href="@Url.Action("Index", "Instractors")"><img src="/assets/img/user-6.jpg" class="img-fluid" alt=""></a></div>
                                            <h5><a href="instructor-detail.html">Shilpa Shekh</a></h5>
                                        </div>
                                        <span class="education_block_time"><i class="ti-calendar mr-1"></i>4 days ago</span>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- ========================== Featured Courses Section =============================== -->
        <!-- ========================== Featured Category Section =============================== -->

        <!-- ========================== Featured Category Section =============================== -->
        <!-- ========================== About Facts List Section =============================== -->
        <section>
            <div class="container">

                <div class="row align-items-center">

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="list_facts_wrap">
                            <div class="sec-heading mb-3">
                                <h2>Know about <span class="theme-cl">e-Learn</span> learning platform</h2>
                            </div>
                            <div class="list_facts">
                                <div class="list_facts_icons"><i class="ti-desktop"></i></div>
                                <div class="list_facts_caption">
                                    <h4>Nemo enim ipsam voluptatem quia.</h4>
                                    <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure</p>
                                </div>
                            </div>
                            <div class="list_facts">
                                <div class="list_facts_icons"><i class="ti-heart"></i></div>
                                <div class="list_facts_caption">
                                    <h4>Nemo enim ipsam voluptatem quia.</h4>
                                    <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure</p>
                                </div>
                            </div>
                            <div class="list_facts">
                                <div class="list_facts_icons"><i class="ti-harddrives"></i></div>
                                <div class="list_facts_caption">
                                    <h4>Nemo enim ipsam voluptatem quia.</h4>
                                    <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure</p>
                                </div>
                            </div>

                        </div>
                        <a href="#" class="btn btn-modern">Know More<span><i class="ti-arrow-right"></i></span></a>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="list_facts_wrap_img">

                            <img src="/assets/img/edu_2.png" class="img-fluid" alt="" />

                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- ========================== About Facts List Section =============================== -->
        <!-- ========================== Featured Courses Section =============================== -->
       
        <!-- ========================== Featured Courses Section =============================== -->
        <!-- ============================ Testimonial Start ================================== -->
        <section style="background:url(/assets/img/testimonial.png)">
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <div class="sec-heading center">
                            <p>What People Say?</p>
                            <h2><span class="theme-cl">Reviews</span> By Our Success & Top Students</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div id="testimonials_style" class="slick-carousel-3 arrow_middle">
                            <div class="testimonial-detail">
                                <div class="client-detail-box">
                                    <div class="pic">
                                        <img src="assets/img/user-1.jpg" alt="">
                                    </div>
                                    <div class="client-detail">
                                        <h3 class="testimonial-title">Adam Alloriam</h3>
                                        <span class="post">Web Developer</span>
                                    </div>
                                </div>
                                <p class="description">
                                    " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam eligendi facilis itaque minus non odio, quaerat ullam unde  unde voluptatum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi. "
                                </p>
                            </div>

                            <div class="testimonial-detail">
                                <div class="client-detail-box">
                                    <div class="pic">
                                        <img src="assets/img/user-2.jpg" alt="">
                                    </div>
                                    <div class="client-detail">
                                        <h3 class="testimonial-title">Illa Millia</h3>
                                        <span class="post">Project Manager</span>
                                    </div>
                                </div>
                                <p class="description">
                                    " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam unde voluptatum eligendi facilis itaque minus non odio, quaerat ullam unde  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi."
                                </p>
                            </div>

                            <div class="testimonial-detail">
                                <div class="client-detail-box">
                                    <div class="pic">
                                        <img src="assets/img/user-3.jpg" alt="">
                                    </div>
                                    <div class="client-detail">
                                        <h3 class="testimonial-title">Rout Millance</h3>
                                        <span class="post">Web Designer</span>
                                    </div>
                                </div>
                                <p class="description">
                                    " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam unde voluptatum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi."
                                </p>
                            </div>

                            <div class="testimonial-detail">
                                <div class="client-detail-box">
                                    <div class="pic">
                                        <img src="assets/img/user-4.jpg" alt="">
                                    </div>
                                    <div class="client-detail">
                                        <h3 class="testimonial-title">williamson</h3>
                                        <span class="post">Web Developer</span>
                                    </div>
                                </div>
                                <p class="description">
                                    " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam unde voluptatum eligendi facilis itaque minus non odio, quaerat ullam unde ? "
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- ============================ Testimonial End ================================== -->
        <!-- ============================== Start Newsletter ================================== -->
        <section class="newsletter theme-bg inverse-theme">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7 col-md-8 col-sm-12">
                        <div class="text-center">
                            <h2>Join Thousand of Happy Students!</h2>
                            <p>Subscribe our newsletter & get latest news and updation!</p>
                            <form class="sup-form">
                                <input type="email" class="form-control sigmup-me" placeholder="Your Email Address" required="required">
                                <input type="submit" class="btn btn-theme" value="Get Started">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ================================= End Newsletter =============================== -->
        <!-- ============================ Footer Start ================================== -->
        <footer class="dark-footer skin-dark-footer">
            <div>
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3 col-md-3">
                            <div class="footer-widget">
                                <img src="assets/img/logo-light.png" class="img-footer" alt="" />
                                <div class="footer-add">
                                    <p>4967  Sardis Sta, Victoria 8007, Montreal.</p>
                                    <p>+1 246-345-0695</p>
                                    <p>info@learnup.com</p>
                                </div>

                            </div>
                        </div>
                       

                        <div class="col-lg-2 col-md-3">
                            <div class="footer-widget">
                                <h4 class="widget-title">New Categories</h4>
                                <ul class="footer-menu">
                                    <li><a href="#">Designing</a></li>
                                    <li><a href="#">Nusiness</a></li>
                                    <li><a href="#">Software</a></li>
                                    <li><a href="#">WordPress</a></li>
                                    <li><a href="#">PHP</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3">
                            <div class="footer-widget">
                                <h4 class="widget-title">Help & Support</h4>
                                <ul class="footer-menu">
                                    <li><a href="#">Documentation</a></li>
                                    <li><a href="#">Live Chat</a></li>
                                    <li><a href="#">Mail Us</a></li>
                                    <li><a href="#">Privacy</a></li>
                                    <li><a href="#">Faqs</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-12">
                            <div class="footer-widget">
                                <h4 class="widget-title">Download Apps</h4>
                                <a href="#" class="other-store-link">
                                    <div class="other-store-app">
                                        <div class="os-app-icon">
                                            <i class="lni-playstore theme-cl"></i>
                                        </div>
                                        <div class="os-app-caps">
                                            Google Play
                                            <span>Get It Now</span>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="other-store-link">
                                    <div class="other-store-app">
                                        <div class="os-app-icon">
                                            <i class="lni-apple theme-cl"></i>
                                        </div>
                                        <div class="os-app-caps">
                                            App Store
                                            <span>Now it Available</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-lg-6 col-md-6">
                            <p class="mb-0">© 2021 LearnUp. Designd By <a >AbdulQader Mohamed</a></p>
                        </div>

                        <div class="col-lg-6 col-md-6 text-right">
                            <ul class="footer-bottom-social">
                                <li><a href="https://github.com/abdulqadermohamed"><i class="ti-github"></i></a></li>
                          
                                <li><a href="https://www.linkedin.com/in/abdulqader-mohamed-79b39a20a/"><i class="ti-linkedin"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
        <!-- ============================ Footer End ================================== -->
      

        

        </div>
   
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/select2.min.js"></script>
    <script src="/assets/js/slick.js"></script>
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <script src="/assets/js/counterup.min.js"></script>
    <script src="/assets/js/custom.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->

</body>

<!-- Mirrored from themezhub.net/learnup-demo-2/learnup/home-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 18 Nov 2021 13:00:08 GMT -->
</html>